
{% assign navData = site.data.navigation.simple %}
{% if layout.navType == "advanced" %}
    {% assign navData = site.data.navigation.advanced %}
{% endif %}
<div class="navContainer">
    <div class="branding">
        <a href="index.html">
            <img src="/assets/img/logo.svg" alt="Logo">
        </a>
    </div>
    <nav>
        {% for item in navData %}
            {% assign isCurrentNavItem = false %}
            {% if page.url == item.url %}
                {% assign isCurrentNavItem = true %}
            {% endif %}

            <!-- makes the blog posts can highlight own navigation entries. -->
            {% if item.name == page.navigationItem %}
                {% assign isCurrentNavItem = true %}
            {% endif %}

            <a href="{{ item.url }}" {% if isCurrentNavItem == true %}class="currentNavItem"{% endif %} >{{ item.name }}</a>
        {% endfor %}
    </nav>
</div>