
{% assign navData = site.data.navigation.simple %}
{% if layout.navType == "advanced" %}
    {% assign navData = site.data.navigation.advanced %}
{% endif %}

<div class="navContainer">
    <div class="branding">
        <a href="index.html">
            <img src="/assets/img/logo.svg" alt="Logo">
        </a>
    </div>
    <nav>
        {% for item in navData %}
            <a href="{{ item.url }}" {% if page.url == item.url %}class="currentNavItem"{% endif %} >{{ item.name }}</a>
        {% endfor %}
    </nav>
</div>