:root {
    --main-bg-color: #121212;
    --opacity-5-color: rgba(255,255,255,0.05);
    --primary-color: #ffbd69;
    --text-color: #DDDDDD;
}

a {
    color: var(--primary-color);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--main-bg-color);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: var(--text-color);
}

.container {
    height: 100vh;
}

.navContainer {
    background-color: var(--opacity-5-color);
    padding: 1.2em;
    margin: auto;
    display: flex;

    a { 
        color: var(--text-color);
        margin-right: 1.3em;
        text-decoration: none;
    }

    .currentNavItem{
        color: var(--primary-color);
        font-weight: bold;
    }

    .branding {
        display: none;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    min-width: 320px;
}

.hero-me {
    background-color: var(--opacity-5-color);
    flex-grow: 1;
    
    .content {
        padding: 1.2em;
    }

    h1 {
        text-align: center;
        font-size: 1.5em;
        color: var(--text-color);
    }
    
    img {
        width: 150px;
        display: block;
        margin: auto;
        border-radius: 80px;
        border: solid 5px var(--primary-color);
        
    }
}

.hero-introduction {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1.2em;
    flex-grow: 1;
    color: black;

    .content {
        padding: 1.2em;
    }
}

.career {
    
    margin: auto;
    padding-bottom: 5em;

    h1  {
        margin-left: 1.3em;
    } 
    
    ul {
        list-style-type: none;
        
        
        li {

            display: flex;
            flex-direction: row;
            width: 60%;
            

            h3 {
                margin: 0;
            }

            .line-container {
                width: 22px;
                padding-right: 2em;
                
                .circle {
                    border-radius: 50%;
                    height: 16px;
                    width: 16px;
                    margin: 0;
                    border: 3px solid var(--primary-color);
                }
                
                .line {
                    background-color: var(--primary-color);
                    width: 3px;
                    height: calc(100% - 22px);
                    margin-left: auto;
                    margin-right: auto;
                }

            }
        }
    }
}

.blog {
    padding: 1.2em;

    ul {

        padding: 0;
        list-style-type: none;

        li {
            background-color: var(--opacity-5-color);
            padding: 1em;
            margin: 1em;
        }
    }
}

.post {
    background-color: var(--opacity-5-color);
    margin: 1.2em;
    padding: 1.2em;

    h1 {
        color: var(--primary-color);
    }
}

.blog-post-heading{
    a {
        text-decoration: none;
    }
}

@media only screen and (min-width: 900px) {
    
    .hero {
        margin: 10em auto 0 auto;        
        width: 800px;
        height: 400px;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: stretch;
        flex-grow: 1;

        .hero-me {
            display: flex;
            flex-flow: column;
            justify-content: center;
        }

        .hero-introduction {
            display: flex;
            flex-flow: column;
            justify-content: center;
        }
    }

    .square {
        max-width: 400px;
        max-height: 400px;
    }

    .navContainer {

        nav {
            width: 80%;
            margin:  auto;
        }

        .branding {
            display: inline-block;
            cursor: pointer;
            img {
                width: 28px;
                height: 28px;
            }
        }

    }

    .career {
        width: 800px;

        h1  {
            margin-left: unset;
        } 
    }
}